{% extends 'base.html' %}

{% block titulo %} UPLINE {% endblock %}

{% block contenido %}
{% load static %}

<div class="encabezado">
    <div class="textos">
        <h1 class="titulo">Te presentamos <img src="{% static 'assets/Media/img/logo-blanco.png' %}" width="170"></h1>
        <h3 class="subtitulo">Una red social para los programadores que buscan un espacio para aprender mientras se
            relacionan con otros.</h3>
        <button href="#" class="boton">Previsualización de la aplicación</button>
    </div>
    <div class="sesgoabajo"></div>
</div>

<main>
    <section class="aplicacion">
        <div class="contenedor">
            <h2 class="titulo-aplicacion">¿Qué es UPLINE?</h2>
            <p class="parrafo">
                La aplicación que en español traduce línea arriba, hace referencia
                a que es una red social dirigida a los desarrolladores de software, en donde pueden hablar,
                opinar y compartir fragmentos de código que podrían ser útiles para otros programadores.
                Y a su vez, cuenta con una sección dirigida al sector laboral en la cual empresas harán
                parte de la comunidad y se podrán establecer relaciones laborales por medio de la aplicación.
            </p>
            <p class="parrafo">
                UPLINE busca cumplir las funcionalidades básicas de una red social, satisfaciendo
                las necesidades del usuario, siendo estas:
            </p>
            <div class="cont-tarjetas">
                <div class="tarjeta">
                    <img src="{% static 'assets/Media/img/publicar.png' %}">
                    Publicar contenido
                </div>
                <div class="tarjeta">
                    <img src="{% static 'assets/Media/img/reaccion.png' %}">
                    Interactuar con el contenido de las publicaciones
                </div>
                <div class="tarjeta">
                    <img src="{% static 'assets/Media/img/relacionarse.png' %}">
                    Relacionarse con otros usuarios
                </div>
            </div>
            <a href="#" class="boton">Ver más...</a>
        </div>
    </section>
</main>

{% endblock %}